@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Mulish", serif;
}
.navii{
    background-color: #F0ECF9 !important;
}
.stay{
    color:rgba(111, 66, 193, 1);
}
.gray{
    color: rgba(128, 128, 129, 1);
}
.button{
    border: 1px solid rgba(111, 66, 193, 1);
    background-color: rgba(111, 66, 193, 1);
    border-radius: 20px;
    color: white;
}
.button1{
    border: 1px solid  rgba(111, 66, 193, 1);
    background-color:  rgba(111, 66, 193, 1);
    border-radius: 20px;
    color: white;
    font-size: small;
    padding-left: 20px;
    padding-right: 20px;
}
.button2{
    border: 1px solid  rgba(111, 66, 193, 1);
    background-color:  rgba(111, 66, 193, 1);
    border-radius: 20px;
    color: white;
    font-size: small;
    padding-left: 20px;
    padding-right: 20px;
}
.hero-section{
    background-color: #F0ECF9;
    border-radius: 0px 0px 240px 0px; 
    
}

.section-7{
    background-color: #F8F5FC; 
    
   
}
.box{
    background-color: white;
}
.boxs{
    background-color: white;
    height: 280px;
    margin-top: 60px;
    margin-left: 30px;

}
.box1{
    margin-left: 30px;
    margin-bottom: 40px;
    background-color: white;

}
.footer{
    background-color: rgba(248, 245, 252, 1);
    
}
.section-5{
    background-color:  rgba(248, 245, 252, 1);
}
   
.para{
    padding-top: 60px;
}
.symptons{
    padding-bottom: 40px;
}

@media screen and (min-width:300px) and (max-width:600px) {
    .navii{
        
        width: 990px!important;
    }
    .hero-section{
       
        width: 990px !important;
        padding-left: 50px !important;
    }
    .section-2{
        width: 990px !important;

    }
    .section-3{
        width: 990px !important;
    }
    .section-3s{
        width: 990px !important;
    }
    .text{
        padding-left: 180px !important;
    }
    .text1{
        padding-left: 230px !important;
    }
    .button1{
        margin-left: 180px !important;
    }
    .button2{
        margin-left: 230px !important;
    }
    .section-4{
        width: 990px !important;
        padding-left: 80px !important;
    }
    
    .section-5{
        width: 990px !important; 
    }
    .box1{
        margin-top: 50px !important;   
    }
    
    .box{
        width: auto !important;
        height: 250px !important;
        
        
    }
    .section-7{
        
        width: 990px  !important;
    }
    .footer{
       
        width: 990px  !important;
        
    }
    .section-6s{
        width: 990px !important;
    }
    .section-6{
        width: 990px !important;

    }
    .section-8{
        width: 990px !important;
    }
    .section-8s{
        width: 990px !important;
    }
    .follow{
           padding-left: 280px !important;
    }
    .follows{
        padding-left: 310px !important;

    }
    
}




